.flows.json.backup
[
    {
        "id": "e617203d33f6d5d3",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8a400ed1add1fbd9",
        "type": "tab",
        "label": "フロー 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8b3dd138d1c2403f",
        "type": "tab",
        "label": "フロー 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cd3a7a89a3042671",
        "type": "inject",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ピザの注文",
        "payloadType": "str",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "cce3caeaaa84d971"
            ]
        ]
    },
    {
        "id": "6df93be5d083c18b",
        "type": "debug",
        "z": "8a400ed1add1fbd9",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 260,
        "wires": []
    },
    {
        "id": "cce3caeaaa84d971",
        "type": "watson-assistant-v2",
        "z": "8a400ed1add1fbd9",
        "name": "new",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/b679ab6b-22cf-4a61-8f74-8370574977c2",
        "assistant_id": "b2564014-6aaf-4d55-b69e-5bf0d7e45ea6",
        "debug": false,
        "restart": false,
        "return_context": false,
        "alternate_intents": false,
        "multisession": false,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 610,
        "y": 260,
        "wires": [
            [
                "6df93be5d083c18b",
                "3c222a454588e2f8",
                "5a85df5dfda9bc67"
            ]
        ]
    },
    {
        "id": "f456f4bad51399b8",
        "type": "inject",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "マルゲリータ",
        "payloadType": "str",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "cce3caeaaa84d971"
            ]
        ]
    },
    {
        "id": "4a942704f51623f4",
        "type": "inject",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Mサイズ",
        "payloadType": "str",
        "x": 400,
        "y": 440,
        "wires": [
            [
                "cce3caeaaa84d971"
            ]
        ]
    },
    {
        "id": "fd615ee3f70742fd",
        "type": "inject",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6pm",
        "payloadType": "str",
        "x": 410,
        "y": 520,
        "wires": [
            [
                "cce3caeaaa84d971"
            ]
        ]
    },
    {
        "id": "a0b47bf6136d7d4b",
        "type": "inject",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "やっぱり7pm",
        "payloadType": "str",
        "x": 390,
        "y": 600,
        "wires": [
            [
                "cce3caeaaa84d971"
            ]
        ]
    },
    {
        "id": "8058829c4fef226b",
        "type": "inject",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OK",
        "payloadType": "str",
        "x": 410,
        "y": 680,
        "wires": [
            [
                "cce3caeaaa84d971"
            ]
        ]
    },
    {
        "id": "3c222a454588e2f8",
        "type": "debug",
        "z": "8a400ed1add1fbd9",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.output.generic[0].text",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 320,
        "wires": []
    },
    {
        "id": "142ea86c6ab191dc",
        "type": "http in",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "url": "/test",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 380,
        "y": 40,
        "wires": [
            [
                "661c28c2bc044432"
            ]
        ]
    },
    {
        "id": "3aa2fa71d054d93e",
        "type": "http response",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 40,
        "wires": []
    },
    {
        "id": "5a85df5dfda9bc67",
        "type": "change",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "186add14f8c703ed",
        "type": "template",
        "z": "8a400ed1add1fbd9",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "\"messages\": [\n    {\n      \"type\": \"flex\",\n      \"altText\": \"This is a Flex Message\",\n      \"contents\": {\n        \"type\": \"bubble\",\n        \"body\": {\n          \"type\": \"box\",\n          \"layout\": \"horizontal\",\n          \"contents\": [\n            {\n              \"type\": \"text\",\n              \"text\": \"Hello,\"\n            },\n            {\n              \"type\": \"text\",\n              \"text\": \"World!\"\n            }\n          ]\n        }\n      }\n    }\n]",
        "output": "str",
        "x": 620,
        "y": 100,
        "wires": [
            [
                "524d0bbdbe0e5c56"
            ]
        ]
    },
    {
        "id": "524d0bbdbe0e5c56",
        "type": "debug",
        "z": "8a400ed1add1fbd9",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 100,
        "wires": []
    },
    {
        "id": "661c28c2bc044432",
        "type": "function",
        "z": "8a400ed1add1fbd9",
        "name": "function 1",
        "func": "\nconst line = context.global.linebot;\n\nconst config = {\n    channelAccessToken: '***',\n    channelSecret: '***',\n};\n\n// create LINE SDK client\nconst client = new line.Client(config);\n// get event\nconst event = msg.payload.events[0];\n// get message\nconst received_msg = event.message.text;\n// return message\nvar massage = { type: 'text', text: received_msg };\n\n\n// replay!\nclient.replyMessage(event.replyToken, massage);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 40,
        "wires": [
            [
                "3aa2fa71d054d93e"
            ]
        ]
    },
    {
        "id": "7d6152bf2b261b0c",
        "type": "http in",
        "z": "8b3dd138d1c2403f",
        "name": "",
        "url": "/line_webhook",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "fd32b96bb8f421b1"
            ]
        ]
    },
    {
        "id": "fd32b96bb8f421b1",
        "type": "function",
        "z": "8b3dd138d1c2403f",
        "name": "getText",
        "func": "//flowへ格納\nflow.set(\"replyToken\",msg.payload.events[0].replyToken);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 540,
        "wires": [
            [
                "8e62b7d862456a4e",
                "955ca607180f29b7",
                "bad106b50a74f1c2"
            ]
        ]
    },
    {
        "id": "8e62b7d862456a4e",
        "type": "debug",
        "z": "8b3dd138d1c2403f",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "955ca607180f29b7",
        "type": "http response",
        "z": "8b3dd138d1c2403f",
        "name": "",
        "x": 650,
        "y": 560,
        "wires": []
    },
    {
        "id": "3746bff0b14d8124",
        "type": "http request",
        "z": "8b3dd138d1c2403f",
        "name": "Reply Message",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.line.me/v2/bot/message/reply",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1100,
        "y": 760,
        "wires": [
            [
                "a28b9d6f73d90c43"
            ]
        ]
    },
    {
        "id": "a28b9d6f73d90c43",
        "type": "debug",
        "z": "8b3dd138d1c2403f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "x": 1110,
        "y": 840,
        "wires": []
    },
    {
        "id": "7e023574631c2a4e",
        "type": "debug",
        "z": "8b3dd138d1c2403f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 870,
        "y": 860,
        "wires": []
    },
    {
        "id": "85796c37ba6fd476",
        "type": "change",
        "z": "8b3dd138d1c2403f",
        "name": "Watsonの戻り値から変数に格納",
        "rules": [
            {
                "t": "set",
                "p": "payload.optext",
                "pt": "msg",
                "to": "payload.output.generic.0.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 860,
        "wires": [
            [
                "7e023574631c2a4e",
                "828b18c6f482caf3"
            ]
        ]
    },
    {
        "id": "bad106b50a74f1c2",
        "type": "change",
        "z": "8b3dd138d1c2403f",
        "name": "Watson向けにパラメータ入替え",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.events.0.message.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 720,
        "wires": [
            [
                "0e2cd9ea35d37fc3"
            ]
        ]
    },
    {
        "id": "84a1bbad701bf640",
        "type": "change",
        "z": "8b3dd138d1c2403f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.optext",
                "pt": "msg",
                "to": "payload.events[0].message.text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 600,
        "wires": [
            [
                "828b18c6f482caf3"
            ]
        ]
    },
    {
        "id": "0e2cd9ea35d37fc3",
        "type": "watson-assistant-v2",
        "z": "8b3dd138d1c2403f",
        "name": "",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/b679ab6b-22cf-4a61-8f74-8370574977c2",
        "assistant_id": "b2564014-6aaf-4d55-b69e-5bf0d7e45ea6",
        "debug": false,
        "restart": false,
        "return_context": false,
        "alternate_intents": false,
        "multisession": false,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 510,
        "y": 800,
        "wires": [
            [
                "85796c37ba6fd476"
            ]
        ]
    },
    {
        "id": "828b18c6f482caf3",
        "type": "function",
        "z": "8b3dd138d1c2403f",
        "name": "createReplyMessage",
        "func": "//flowから取り出す\nvar output_text = flow.get(\"text\");\n\nvar post_request = {\n    \"headers\": {\n        \"content-type\": \"application/json; charset=UTF-8\",\n        \"Authorization\": \" Bearer \" + \"{***}\"\n    },\n    \"payload\": {\n        //\"replyToken\": msg.payload.events[0].replyToken,\n        \"replyToken\": flow.get(\"replyToken\"),\n        \"messages\": [\n            {\n                \"type\": \"text\",\n                \"text\": msg.payload.optext\n            },\n            {\n                \"type\": \"template\",\n                \"altText\": \"this is a buttons template\",\n                \"template\": {\n                    \"type\": \"buttons\",\n                    \"title\": \"ピザの種類\",\n                    \"text\": \"おすすめ\",\n                    \"actions\": [\n                        {\n                            \"type\": \"message\",\n                            \"label\": \"マルゲリータ\",\n                            \"text\": \"マルゲリータ\"\n                        },\n                        {\n                            \"type\": \"message\",\n                            \"label\": \"シーフード\",\n                            \"text\": \"シーフード\"\n                        },\n                        {\n                            \"type\": \"message\",\n                            \"label\": \"ペパロニ\",\n                            \"text\": \"ペパロニ\"\n                        }\n                    ]\n                }\n            }\n        ]\n    }\n};\n\nreturn post_request;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 760,
        "wires": [
            [
                "3746bff0b14d8124"
            ]
        ]
    },
    {
        "id": "d61f5ed8b3e82163",
        "type": "template",
        "z": "8b3dd138d1c2403f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"type\": \"template\",\n    \"altText\": \"this is a buttons template\",\n    \"template\": {\n        \"type\": \"buttons\",\n        \"title\": \"ピザの種類\",\n        \"text\": \"おすすめ\",\n        \"actions\": [\n            {\n                \"type\": \"message\",\n                \"label\": \"マルゲリータ\",\n                \"text\": \"マルゲリータ\"\n            },\n            {\n                \"type\": \"message\",\n                \"label\": \"シーフード\",\n                \"text\": \"シーフード\"\n            },\n            {\n                \"type\": \"message\",\n                \"label\": \"ペパロニ\",\n                \"text\": \"ペパロニ\"\n            }\n        ]\n    }\n}",
        "output": "json",
        "x": 340,
        "y": 340,
        "wires": [
            [
                "558d47f900963937",
                "a05b9345e6797fde"
            ]
        ]
    },
    {
        "id": "f0b94937087a7dc9",
        "type": "change",
        "z": "8b3dd138d1c2403f",
        "name": "type: template の場合",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"type\":\"template\",\"altText\":\"this is a buttons template\",\"template\":{\"type\":\"buttons\",\"title\":\"ピザの種類\",\"text\":\"おすすめ\",\"actions\":[{\"type\":\"message\",\"label\":\"マルゲリータ\",\"text\":\"マルゲリータ\"},{\"type\":\"message\",\"label\":\"シーフード\",\"text\":\"シーフード\"},{\"type\":\"message\",\"label\":\"ペパロニ\",\"text\":\"ペパロニ\"}]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 240,
        "wires": [
            [
                "558d47f900963937",
                "a60babf9dbee83d3"
            ]
        ]
    },
    {
        "id": "a60babf9dbee83d3",
        "type": "debug",
        "z": "8b3dd138d1c2403f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "017e4cb8d87b5401",
        "type": "switch",
        "z": "8b3dd138d1c2403f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "p",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "p",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 300,
        "wires": [
            [
                "f0b94937087a7dc9"
            ],
            [
                "558d47f900963937"
            ]
        ]
    },
    {
        "id": "e0cdca791cb4070d",
        "type": "change",
        "z": "8b3dd138d1c2403f",
        "name": "type: image の場合",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"type\":\"image\",\"originalContentUrl\":\"https://pbs.twimg.com/profile_images/1165566424699457537/IYBnJ1i5_400x400.jpg\",\"previewImageUrl\":\"https://pbs.twimg.com/profile_images/1165566424699457537/IYBnJ1i5_400x400.jpg\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "8b176dbe650132e4",
        "type": "change",
        "z": "8b3dd138d1c2403f",
        "name": "type: flex の場合",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"type\":\"flex\",\"altText\":\"This is a Flex Message\",\"contents\":{\"type\":\"bubble\",\"body\":{\"type\":\"box\",\"layout\":\"vertical\",\"contents\":[{\"type\":\"text\",\"text\":\"Hello,\"},{\"type\":\"text\",\"text\":\"World!\"}]}}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "39272952bdbf5b61",
        "type": "Webhook",
        "z": "8b3dd138d1c2403f",
        "name": "",
        "url": "/debug",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "017e4cb8d87b5401"
            ]
        ]
    },
    {
        "id": "558d47f900963937",
        "type": "ReplyMessage",
        "z": "8b3dd138d1c2403f",
        "name": "",
        "replyMessage": "",
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "0a695b881697a23e",
        "type": "comment",
        "z": "8b3dd138d1c2403f",
        "name": "完成版！",
        "info": "",
        "x": 80,
        "y": 40,
        "wires": []
    },
    {
        "id": "a05b9345e6797fde",
        "type": "debug",
        "z": "8b3dd138d1c2403f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "fb12afd5708b6102",
        "type": "comment",
        "z": "8b3dd138d1c2403f",
        "name": "deploy 後にセット",
        "info": "",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "a69a384e773fc174",
        "type": "comment",
        "z": "8b3dd138d1c2403f",
        "name": "deploy 後にセット",
        "info": "",
        "x": 510,
        "y": 760,
        "wires": []
    },
    {
        "id": "5108780a717c45db",
        "type": "comment",
        "z": "8b3dd138d1c2403f",
        "name": "p が入力された場合",
        "info": "",
        "x": 510,
        "y": 200,
        "wires": []
    }
]